annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
apify_client==3.0.2
bcrypt==4.0.1
beautifulsoup4==4.15.0
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
click==8.4.1
colorama==0.4.6
cryptography==48.0.1
dnspython==2.8.0
email-validator==2.3.0
fastapi==0.136.3
greenlet==3.5.3
h11==0.16.0
httptools==0.8.0
idna==3.13
impit==0.12.0
joblib==1.5.3
more-itertools==11.1.0
newsapi-python==0.2.7
numpy==2.4.4
pandas==3.0.2
passlib==1.7.4
playwright==1.60.0
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
pyee==13.0.1
PyJWT==2.13.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
PyYAML==6.0.3
redis==8.0.1
requests==2.33.1
scikit-learn==1.8.0
scipy==1.17.1
six==1.17.0
soupsieve==2.8.4
SQLAlchemy==2.0.50
starlette==1.2.1
stripe==15.3.0
threadpoolctl==3.6.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
uvicorn==0.49.0
uvloop==0.22.1
watchfiles==1.2.0
websockets==16.0
xgboost==3.2.0
